doctype html
.Header_box
  a(href='#') Home
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js')        
script(src='./js/profile.js')  
link(rel='stylesheet' href='./css/profilestyle.css')
head
    body 
        h1 Profile
        div.user-info
            p name: #{user.name}
            p email: #{user.email}
            p id: #{user._id}
            p number of listings #{listings.length}
        
        
        
        
            h2 Current Listings 
            each listing  in listings
                div.wrapper 
                    dl

                        dt Title: #{listing.title} 
                        dd Id: #{listing._id}       
                        dd  Price: $ #{listing.price}
                        br
                        button(type="Edit") Edit
                        br
                        button(onclick="deleteListing(listing._id)") Delete
                        br

            
             
            div.button
            a(href="http://127.0.0.1:3000/api/v1/user/logout"): button(type="button")  Logout
        //p Hello my name is #{arrayforChart}

    script.
        const deleteListing = async(id) => {
        console.log(id);   
        axios.delete("http://127.0.0.1:3000/api/v1/listing/", {params: { _id : id}}).then(repoonse => {
        console.log(reponse);
        })
        }
    

