doctype html
.Header_box
  a(href='/homepage') Home
  a(href="http://127.0.0.1:3000/api/v1/user/logout") Logout
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js')        
link(rel='stylesheet' href='./css/profilestyle.css')
body 
    h1 Profile
    div.user-info
        p name: #{user.name}
        p email: #{user.email}
        p number of listings: #{listings.length}
        p number of wishlist items: #{listingInWish.length}

        
    h2 Current Listings 
    each listing  in listings
        .wrapper 
             dl
                p Title:
                input(id=`title.${listing._id}` type="text" value=`${listing.title}`)
                p Price:      
                 input(id=`price.${listing._id}` type="number" value=`${listing.price}`)
                p Tag:
                input(id=`tag.${listing._id}` type="text" value=`${listing.tag}`)
                br
                .EditandDelete
                 button(onclick=`editListing(\"${listing._id}\")`) Edit
                 button(onclick=`deleteListing(\"${listing._id}\")`) Delete
                    
    h3 Wishlist Items  
    if listingInWish
        each wishlist in listingInWish
            .wishlist
                dl      
                    p Title:
                    p #{wishlist.title}
                    p Price:
                    p #{wishlist.price}
                    p Tag:
                    p #{wishlist.tag}
                    buttton(onclick=`deleteWishlist(\"${wishlist._id}\")`) Delete
            
    script.
        const deleteListing = async(id) => {
                axios.delete(`http://127.0.0.1:3000/api/v1/listing/${id}`).then(response => {
                console.log(response);
                window.location.reload();
                alert("Listing deleted")
            })
        }
    script.
        const editListing = async(id) => {
            var title = document.getElementById(`title.${id}`).value;
            var price = document.getElementById(`price.${id}`).value;
            var tag = document.getElementById(`tag.${id}`).value;
            axios.patch(`http://127.0.0.1:3000/api/v1/listing/${id}`,{ "title" : title, "price" : price, "tag" : tag}).then(response => {
                console.log(response);
                 window.location.reload();
                 alert("Listing updated");
            })
        }
    script.
        const deleteWishlist = async(id) => {
            axios.delete(`http://127.0.0.1:3000/api/v1/wishlist/${id}`).then(response => {
                console.log(response);
                 window.location.reload();
                 alert("wishlist item deleted")
            })

        }


